test_input.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TEST_InputTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Signal">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Misc" type="xs:string" nillable="true"  />
              <xs:element name="Result" type="xs:string"  />
              <xs:element name="Expression" type="xs:string" nillable="true"  />
              <xs:element name="Option" type="xs:string" nillable="true"  />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
